/*.header {
	width: 100%;
	background-color: #ffffff;
	border-bottom: 1px solid #000;
}
.content {
	width: 100%;
	height: 600px;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
}
.leftmenu {
	background-color: #000;
	width: 25%;
	border: 1px solid #000;
}
.leftmenu-list {
	list-style: none;
	padding: 10px;
	background-color: rgb(124, 70, 70);
}
.mainContent {
	width: 74%;
	border: 1px solid #000;
}
*/

.clientname {
	float: right;
	font-size: 10px;
}

#qrcodes-main {
	display: none;
	padding-top: 20px;
}
